body{
    max-width:375px; 
    min-height: 100%;
    min-width: 100vw;
    background-color:  hsl(30, 38%, 92%);
    font-size: 14px;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    height: 85%;
    border-radius: 9px;
    overflow: hidden;
    perspective: 1px;
}

.box{
    width: 305px;
    box-sizing:border-box;
}
.box1{
    background-image: url(image-product-mobile.jpg);
    background-size: cover;
    height: 40%;
}
.box2{
    padding: 0 20px;
    background-color: white;
    height: 60%;
}
.p{
    text-transform: uppercase;
    font-family: montserrat; 
    margin-top: 25px;
    letter-spacing: 3px;
    font-size: 0.7em;
}
.g{
    font-family: 'Fraunces', serif;
    font-size: 2em;
    line-height: 95%;
    margin-top: 17px;
    margin-bottom: 18px;

}
.p, .floral, .s-price, .button{
    color: hsl(228, 12%, 48%);
    font-family: 'Montserrat', sans-serif;
  
}
.floral{
    line-height: 18px;
    font-size: 0.9em;
}
.price{
    display:flex;
    align-items: center;
    margin-top: 22px;
    margin-left: 4px;
}
.b-price{
    font-family: 'Fraunces', serif;
    font-size: 2em;
    margin-right: 25px;
    color:hsl(158, 36%, 37%);
}
.s-price{
   font-size: 0.8em;
   text-decoration: line-through;

}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:hsl(158, 36%, 37%);
    cursor: pointer;
    color:white;
    height: 40px;
    width: 255px;
    border-radius: 6px;
    border: 0;
    margin-top: 20px;
    margin-bottom: -35px;
    font-size: 12px;
    font-weight: 8px;
}

img{
    margin-right: 9px;
    height: 14px;
}

.attribution {
     font-size: 11px; 
     text-align: center; 
  
   
} 
.attribution a {
     color: hsl(228, 45%, 44%); 
}